@import url("../style.css");

/* Hero Image */
.hero-img-grid{
    display: grid;
    place-items: center;
}

.grid-hero{
    grid-column: 1;
    grid-row: 1 ;
}

.grid-hero-img{
    filter: brightness(65%);
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/6;
}

.grid-hero-text{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    color: white;
    font-family: 'PlayFairDisplay', Arial, Helvetica, sans-serif;
}
/* hero image */

/* Bridal Card */
.card-border{
    border: none; 
    box-shadow: 1px 1px 1px 1px;
}

.card-image{
    display: flex;
    height: 300px;
    width: 300px;
}

.card-center{
    margin: 0 auto;
    width: 60%;
}

.body-text{
    margin: 20px auto;
    width: 90%;
}

.body-text-height-margin{
    margin-top: 25px;
    margin-bottom: 10px;
}

.text-font{
    font-family: 'PlayFairDisplay', Arial, Helvetica, sans-serif;
}
/* bridal card */

/* Photo Gallary */
/* photo gallary */