@import url("../style.css");


.hero-img-grid{
    display: grid;
    place-items: center;
}

.grid-hero{
    grid-column: 1;
    grid-row: 1 ;
}

.grid-hero-img{
    filter: brightness(65%);
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/6;
}

.grid-hero-text{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    color: white;
    font-family: 'PlayFairDisplay', Arial, Helvetica, sans-serif;
}