@import url("../style.css");


.text-font{
    font-family: 'PlayFairDisplay', Arial, Helvetica, sans-serif;
}

.card-border{
    border: 2px solid #D9D9D9; 
    box-shadow: 0 .2em .2em #00000035;
}

.margin-top{
    margin-top: 3em;
}

/* Hero Image */
.hero-img-grid{
    display: grid;
    place-items: center;
}

.grid-hero{
    grid-column: 1;
    grid-row: 1 ;
}

.grid-hero-img{
    filter: brightness(65%);
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/6;
}

.grid-hero-text{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    color: white;
    font-family: 'PlayFairDisplay', Arial, Helvetica, sans-serif;
}
/* hero image */

/* Smpathy Group*/
.card-group-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-group-item-1{
    grid-column: 1;   
}

.card-group-item-2{
    grid-column: 2;
}

.card-group-item-3{
    grid-column: 3;
}

.card-height{
    height: 35em;
}

.card-group-center{
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 90%;
}

.body-group-img{
    margin: 1em auto;
    width: 90%;
    height: 70%;
}

.sympathy-btn{
    color: #000000;
    background-color: var(--header-footer);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.sympathy-btn:hover{
    color: #000000;
    background-color: var(--btn-hover);
    
}
/* sympathy group */

/* Ribbon Group */
.card-ribbon-height{
    height: 48em;
    width: 45em;
}

.margin-bottom{
    margin-bottom: 3em;
}

.card-ribbon-center{
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 48em;
}
/* ribbon group */

@media (max-width: 1024px){
    .card-group-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .card-group-item-3{
        grid-column: 1;
    }
}

@media (max-width: 768px){
    .card-group-grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .card-group-item-2{
        grid-column: 1;
    }

    .card-ribbon-center{
        width: 35em;
    }
}

@media (max-width: 576px){
    .card-ribbon-center{
        width: 48em;
    }
}