:root{
    --bg-color: #F2F3EF;
    --header-footer: #AFCA98;
    --btun-hover: #A9BD98;
    --current-page: #57594B;
}

body{
    background-color: var(--bg-color);
}

@font-face{
    font-family: 'PlayFairDisplay';
    src: url(/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'Ario';
    src: url(/assets/fonts/Arimo-VariableFont_wght.ttf);
}