:root{
    --bg-color: #F2F3EF;
    --header-footer: #AFCA98;
    --btn-hover: #A9BD98;
    --current-page: #57594B;
}

@font-face{
    font-family: 'PlayFairDisplay';
    src: url(/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face{
    font-family: 'Ario';
    src: url(/assets/fonts/Arimo-VariableFont_wght.ttf);
}
/* Navbar*/
.logoHeader{
    grid-column: span 3;
    grid-row: 1;
}

.gridContainerHeader{
    background-color: #AFCA98;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 120px);
    
    box-shadow: 0 .2em .2em #00000035;
    }
.HMbtn{
    grid-column: 5 /span 1;
    grid-row: 1;
}

.DDbtn{
    grid-column: 6 /span 1;
    grid-row: 1;
}

.SObtn{
    grid-column: 7 /span 2;
    grid-row: 1;
}

.ORbtn{
    grid-column: 9 /span 1;
    grid-row: 1;
}

.SIbtn{
    grid-column: 12 /span 1;
    grid-row: 1;
}
/* end of Navbar */

/* body */
body{
    background-color: var(--bg-color);
}
/* end of body  */

/* footer */
.gridContainerFooter{
background-color: #AFCA98;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(1, 120px);
box-shadow: 0 .2em .2em #00000035;
}
.FooterEmail{
    text-decoration: underline;
}

.Contact{
    grid-column: 4;

}
.Visit{
    grid-column: 6 /span 2;
}
.Socials{
    grid-column: 8 /span 2;
}
.MPlogo{
    width: 20px;
    aspect-ratio: 1/1;
}



.FooterIGlogo{
    width: 32px;
    aspect-ratio: 1/1;
    margin-right: 1em;
}
.FooterFBlogo{
    width: 20px;
    
}
/* end of footer */